h1 {
  font-family: 'Markazi Text', serif;
  margin-top: 0;
}

h3 {
  font-style: italic;
}

body {
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
    "navigation"
    "header"
    "content"
    "footer";
  min-height: 100vh;
}

img {
  width: 100%;
  max-width: 300px;
}

.fa-github {
  color: black;
}

.fa-twitter {
  color: white;
}

.fa-facebook {
  color: #3b5998;
}

#navigation {
  background-color: lightpink;
  position: sticky;
  top: 0;
}

#navigation > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 10px;
  list-style: none;
}

#navigation .container {
  margin: 0 auto;
}

#navigation li {
  position: relative;
}

#navigation a + ul {
  background-color: hotpink;
  display: none;
  left: -15px;
  position: absolute;
  top: 18px;
}

#navigation a:hover + ul,
#navigation a + ul:hover {
  display: flex;
  flex-direction: column;
}

#content p + ul {
  background-color: hotpink;
}

#content li {
  background-color: chartreuse;
}

#content li:first-child {
  background-color: aqua;
}

#content li:nth-child(3n){
  background-color: burlywood;
}

#content li:last-child {
  background-color: purple;
}

#content li:nth-child(2){
  background-color: red;
}

#header {
  padding: 10px;
  background-color: lightblue;
}

#content {
  padding: 10px;
  background-color: lightgreen;
}

#footer {
  padding: 10px;
  background-color: lightsalmon;
}

#footer > ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

#footer > ul > li {
  margin: 0 10px 0 0;
  display: inline;
}

#footer .container {
  margin: 0 auto;
}

#footer a {
  text-decoration: none;
}

#codeperson {
  color: red;
}

.container {
  margin: 0 auto;
  max-width: 760px;
}

@media (min-width: 612px) {
  body {
    grid-template-columns: 150px auto;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
      "navigation header"
      "navigation content"
      "navigation footer";
  }

  #navigation {
    grid-area: navigation;
  }

  #navigation > ul {
    flex-direction: column;
    height: 50vh;
  }
}
