h3 {
  font-style: italic;
}

body {
  margin: 0;
}

#navigation {
  background-color: lightpink;
}

#navigation > ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

#navigation > ul > li {
  margin: 0 10px 0 0;
  display: inline;
}

#header {
  padding: 10px;
  background-color: lightblue;
}

#content {
  padding: 10px;
  background-color: lightgreen;
}

#footer {
  padding: 10px;
  background-color: lightsalmon;
}

#footer > ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

#footer > ul > li {
  margin: 0 10px 0 0;
  display: inline;
}

#codeperson {
  color: red;
}
